@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Vazir";
  src: urlurl("/fonts/vazir/Vazir-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Vazir";
  src: urlurl("/fonts/vazir/Vazirmatn-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Vazir";
  src: urlurl("/fonts/vazir/Vazirmatn-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Vazir";
  src: urlurl("/fonts/vazir/Vazirmatn-ExtraBold.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Vazir";
  src: urlurl("/fonts/vazir/Vazirmatn-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-vazir);

  --color-primary-50: #e9f4fe;
  --color-primary-100: #badcfb;
  --color-primary-200: #98cbf9;
  --color-primary-300: #69b3f6;
  --color-primary-400: #4ca5f4;
  --color-primary-500: #1f8ef1;
  --color-primary-600: #1f8ef1;
  --color-primary-700: #1665ab;
  --color-primary-800: #114e85;
  --color-primary-900: #0d3c65;
  --color-secondary-50: #fef3e9;
  --color-secondary-100: #fbd8ba;
  --color-secondary-200: #f9c698;
  --color-secondary-300: #f6ab69;
  --color-secondary-400: #f49b4c;
  --color-secondary-500: #f1821f;
  --color-secondary-600: #db761c;
  --color-secondary-700: #ab5c16;
  --color-secondary-800: #854811;
  --color-tertiary-50: #fbfcfc;
  --color-tertiary-100: #f4f4f5;
  --color-tertiary-200: #f4f4f5;
  --color-tertiary-300: #e6e8ea;
  --color-tertiary-400: #e1e3e6;
  --color-tertiary-500: #dadce0;
  --color-tertiary-600: #c6c8cc;
  --color-tertiary-700: #9b9c9f;
  --color-tertiary-800: #78797b;
  --color-tertiary-900: #5c5c5e;
 
}



@utility container {
  padding-inline: 10px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }
  @variant md {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 20px;
  }

  @variant xl {
    padding-inline: 20px;
  }
}

.swiper-pagination-bullet {
  @apply w-3 h-3 bg-red-400 opacity-50 rounded-full transition-all duration-300;
}

.swiper-pagination-bullet-active {
  @apply bg-red-600 opacity-100 scale-125 shadow-md;
}
